<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="CSS/login.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
</head>
<body>
    <section class="vh-100 bg-image"
 >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login In</h2>

              <form action="/login1" method="POST">

                <div class="form-outline mb-4">
                  <input type="email" id="email" class="form-control form-control-lg" placeholder="Email"/>
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div> 

                <div class="form-outline mb-4">
                  <input type="password" id="password" class="form-control form-control-lg" placeholder="Password"/>
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-block btn-lg text-body" id="login">Login</button>
                </div>

                <!-- <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p> -->

              </form>

              <!-- Script to handle form submission -->
              <script>
                // const form = document.querySelector('form');
                // form.addEventListener('submit', async (event) => {
                //   event.preventDefault();
                //   const email = document.querySelector('#email').value;
                //   const password = document.querySelector('#password').value;
                //   console.log(email, password)
                //   try {
                //     const response = await fetch('/login1', {
                //       method: 'POST',
                //       headers: {
                //         'Content-Type': 'application/json'
                //       },
                //       body: JSON.stringify({ email, password })
                //     }); 
                //     if (response.status==200) {
                //       alert('Logged in successfully');
                //       window.location.href = '/'

                //     } else {
                //       alert('Login failed');
                //     }
                //   } catch (error) {
                //     alert('Logged in successfully');
                //     window.location.href = '/'
                //   }
                // });
                  
                

                document.querySelector('form').addEventListener('submit', async (event) => {
                event.preventDefault();
                
                const email = document.querySelector('#email').value;
                const password = document.querySelector('#password').value;
                console.log(email, password);
                console.log('Form submitted1');
                try {
                  console.log('Before fetch');
                  const response = await fetch('/login1', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email, password })
                  });
                  console.log('After fetch');
                  const responseData = await response.json();
                  console.log(responseData);
                  if (responseData.success) {
                    alert('Logged in successfully');
                    const navLinks = document.querySelectorAll('.login-link1');
                    navLinks.forEach(link => link.style.display = 'none');
                    const greetingElement = document.createElement('li');
                    greetingElement.innerHTML = `Hello ${responseData.name}`;
                    document.querySelector('.login-link').appendChild(greetingElement);
                  } else {
                    alert('Login failed');
                  }
                } catch (error) {
                  console.log('Error caught:', JSON.stringify(error));
                  
                  console.log(error);
                  alert('Error Occured');
                }
                window.location.href = '/'
              });
              </script>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>